In [7]:
# Step-1: Import Libraries
import pandas as pd
import numpy as np

In [8]:
#Step-2: Load the Dataset
df = pd.read_csv('/content/Superstore Sales Data.csv')

In [9]:
#Step-3: Initial Data Check
df.head()
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [10]:
#Step-4: Check for duplicates
df.duplicated().sum()

np.int64(0)

In [11]:
#Step-5: Remove duplicates
df = df.drop_duplicates()

In [12]:
#Step-6: Check for missing value
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [13]:
#Step-7: Drop rows with any nulls
df = df.dropna()

In [14]:
#Step-8: Clean column names: lowercase, replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [15]:
#Step-9: Fix Date Columns
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

In [16]:
#Step-10: Clean Categorical Text Columns
text_columns = ['segment', 'country', 'city', 'state', 'region', 'category',
                'sub-category']
for col in text_columns:
    df[col] = df[col].str.lower().str.strip()

In [17]:
#Step-11: Save the Cleaned Dataset
df.to_csv('cleaned_superstore_data.csv', index=False)